<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>458355949653-r5ljusikna9ka5t2dl5qfgfa7ldj8gp2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458355949653-r5ljusikna9ka5t2dl5qfgfa7ldj8gp2</string>
	<key>API_KEY</key>
	<string>AIzaSyCSSW-qqWJBuTsxZtqUa0NDipb_fzu1Wfo</string>
	<key>GCM_SENDER_ID</key>
	<string>458355949653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tnntech.checkin-App</string>
	<key>PROJECT_ID</key>
	<string>checkin-app-903139168</string>
	<key>STORAGE_BUCKET</key>
	<string>checkin-app-903139168.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458355949653:ios:695d73c57d20ad97</string>
	<key>DATABASE_URL</key>
	<string>https://checkin-app-903139168.firebaseio.com</string>
</dict>
</plist>